.photo-logo {
  width: 80px;
  height: auto;
}

@media screen and (max-width: 728px) {
  .job-site-container {
    display: flex;
    height: 205px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .inner-container {
      flex-direction: column;
      align-items: center;
      margin-top: -9%;
    }
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 20px 5px;
    border-radius: 15px;

    .photo-logo {
      width: auto;
    }
  }

  .company-container {
    margin-left: 0px;
  }

  .company-site-btn-container {
    margin-right: 0px;
  }
}
