@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bdy {
  margin: 0;
  padding: 0;
  background: #f4f6f8;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-right: 1px solid rgba(110, 128, 152, 0.2) !important;
  border-radius: 0 !important;
}

.theme-checkbox .mdc-checkbox__background {
  background-color: lightgray;
  border-radius: 5px !important;
  border: none !important;
}

.my-btn {
  width: auto;
  height: 44px;
  border-radius: 10px;
  border: none;
  background: #5964e0;
  color: white;
  cursor: pointer;

  @media screen and (max-width: 720px) {
    width: 48px;
    height: 48px;
  }
}

input::placeholder {
  color: #a0aec0;
  opacity: 0.6;
}

.my-btn img {
  fill: white;
}
