.image-container {
  width: 100vw;
  height: 160px;
  overflow: hidden;
  position: relative;

  .header-img {
    height: 100%;
    display: block;
  }

  .my-flex {
    position: absolute;
    top: calc(50% - 16px);
    left: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #fff;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 16px;
  height: 16px;
  background: #5964e0;
  border-radius: 50%;
  transition:
    left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + .switch::before {
  left: 27px;
}
