.image-container {
  height: 160px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 728px) {
    height: 136px;
  }

  .header-img {
    height: 100%;
    display: block;
    width: 100vw;

    @media screen and (max-width: 667px) {
      position: absolute;
      left: -50px;
      width: -webkit-fill-available;
    }
  }

  .my-flex {
    position: absolute;
    top: calc(50% - 16px);
    display: flex;
    justify-content: space-between;
    width: 90%;

    @media screen and (max-width: 728px) {
      top: 30px;
    }
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #fff;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 16px;
  height: 16px;
  background: #5964e0;
  border-radius: 50%;
  transition:
    left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + .switch::before {
  left: 27px;
}

.name-logo {
  margin-left: 10%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff;
}

.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align {
  display: none;
}

.example-full-width {
  position: absolute;
  top: 140px;
  height: 80px;
  z-index: 9;
}
