.image-container {
  width: auto;
  height: 160px;
  overflow: hidden;
  object-fit: fill;
  flex-shrink: 0;
  position: relative;

  .header-img {
    width: 100%;
    height: 100%;
    display: block;

    @media screen and (max-width: 1440px) {
      width: auto;
    }
  }

  .my-flex {
    position: absolute;
    top: calc(50% - 16px);
    left: 10%;
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}

.switch {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background: #dfd9ea;
  transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  vertical-align: middle;
  cursor: pointer;
}
.switch::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 22px;
  height: 22px;
  background: #fafafa;
  border-radius: 50%;
  transition:
    left 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    background 0.28s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch:active::before {
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.28),
    0 0 0 20px rgba(128, 128, 128, 0.1);
}
input:checked + .switch {
  background: #72da67;
}
input:checked + .switch::before {
  left: 27px;
  background: #fff;
}
input:checked + .switch:active::before {
  box-shadow:
    0 2px 8px rgba(0, 0, 0, 0.28),
    0 0 0 20px rgba(0, 150, 136, 0.2);
}
