.job-listing-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
  column-gap: 15px;
  width: 90%;
  justify-items: center;
  margin: 100px auto;

  @media screen and (max-width: 1366px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.font-size {
  font-weight: 800;
}
