.job-listing-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 100px;
  column-gap: 15px;
  width: 90%;
  justify-items: center;
  margin: 100px auto;

  @media screen and (max-width: 1366px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

// .job-listing-box > :nth-child(1) {
//   justify-self: start;
// }

// .job-listing-box > :nth-child(2) {
//   justify-self: center;
// }

// .job-listing-box > :nth-child(3) {
//   justify-self: end;
// }

.font-size {
  font-weight: 800;
}
