.job-listing-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 15px;
  width: 90%;
  justify-items: center;
  margin: 50px auto;

  @media screen and (max-width: 1366px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.font-size {
  font-weight: 800;
}

.job-card {
  background-color: #fff;
  color: #19202d;
}

.job-card.dark {
  background-color: #19202d;
  color: #ffffff;
}

.job-meta {
  color: #6e8098;
}

.job-meta.dark {
  color: #9ca3af;
}
