.my-btn {
  width: 80px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background: #5964e0;
  color: white;
  cursor: pointer;
}

input::placeholder {
  color: #a0aec0; /* placeholder color */
  opacity: 0.6;
}
