.my-btn {
  width: 80px;
  height: 44px;
  border-radius: 10px;
  border: none;
  background: #5964e0;
  color: white;
  cursor: pointer;

  @media screen and (max-width: 720px) {
    width: 48px;
    height: 48px;
  }
}

input::placeholder {
  color: #a0aec0;
  opacity: 0.6;
}

.my-btn img {
  fill: white;
}
