@if (job) {
  <div
    class="w-[730px] my-[30px] mx-auto"
    [style.background]="themeService.theme() === 'dark' ? '#19202D' : '#fff'"
    [style.color]="themeService.theme() === 'dark' ? '#fff' : '#19202D'"
  >
    <div class="job-details p-[40px] rounded-[10px] shadow-md">
      <h2 class="text-2xl font-bold mb-2">{{ job.position }}</h2>
      <h3 class="text-lg text-gray-600 mb-4">{{ job.company }}</h3>
      <p class="mb-2"><strong>Location:</strong> {{ job.location }}</p>
      <p class="mb-2"><strong>Contract:</strong> {{ job.contract }}</p>
      <p class="mb-4"><strong>Posted At:</strong> {{ job.postedAt }}</p>

      <div class="mb-4">
        <p>{{ job.description }}</p>
      </div>

      <div class="mb-4">
        <h4 class="font-semibold text-2xl">Requirements:</h4>
        <p>{{ job.requirements.content }}</p>
        <ul class="list-disc ml-6">
          <li *ngFor="let item of job.requirements.items">{{ item }}</li>
        </ul>
      </div>

      <div>
        <h4 class="font-semibold text-2xl">What You Will Do</h4>
        <p>{{ job.role.content }}</p>
        <ul class="list-disc ml-6">
          @for (item of job.role.items; track $index) {
            <li>{{ item }}</li>
          }
        </ul>
      </div>
    </div>
  </div>
}

@if (!job) {
  <div class="text-center py-20 text-gray-500">Loading job details...</div>
}
